.introduction {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  &__left {
    display: flex;
    gap: 16px;
    &__avatar {
      border-radius: 50%;
      width: 160px;
      height: 160px;
    }
    &__info {
      font-size: 24px;
    }
  }
  &__right {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    &__gde {
      width: 200px;
    }
    &__ng-book {
      width: 200px;
    }
  }
}

.footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

img.meme {
  max-height: 600px !important;
}